{{ $image := resources.Get "branding/SiteLogo.png"}}
{{ $logo := $image.Resize "x48"}}

<header class="p-8 bg-amber-400">
    <div class="container flex justify-between mx-auto">



        <div class="flex flex-row items-center gap-8">
            <a href="/">
                <img src="{{ $logo.RelPermalink  }}" alt="Brand Logo">
            </a>

            
        {{ partial "menu.html" (dict "menuID" "main" "page" . ) }}

        </div>
        <div class="flex flex-row items-center gap-2">
        {{ $buttons := slice "Hire Us!" "Get Tickets" }}
        {{ range  $buttons }}
            {{ partial "button.html" (dict "title" . "link" "#" ) }}
        {{ end }}

        </div>
    </div>
</header>