<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
  {{ partial "head.html" . }}
</head>

<body class="font-sans ">
  {{ partial "header.html" . }}
  
  <section class="flex flex-col items-center pt-8 mb-16 bg-amber-400">
      {{ partial "hero.html" . }}
  </section>

  <main class="p-8 main_wrapper">
    {{ block "main" . }} {{ end }}
  </main>

  <section class="flex flex-col items-center p-8 ">
    {{ partial "prefooter.html" }}
  </section>


    {{ partial "footer.html" . }}

</body>

</html>