<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
  {{ partial "head.html" . }}
</head>

<body class="font-sans ">
  <header class="p-8 bg-gray-100">
    <div class="container flex justify-between mx-auto">
      {{ partial "header.html" . }}
    </div>
  </header>
  <main class="main_wrapper **:[&_p]:font-serif ">
    {{ block "main" . }}
    {{ end }}
  </main>

  <footer class="container px-32 py-8">
    {{ partial "footer.html" . }}
  </footer>
</body>

</html>