@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import "tailwindcss";
@theme {
  /* FONTS */
  --font-sans: "Bricolage Grotesque", sans-serif;
  --font-serif: "EB Garamond", serif;
  /* BREAKPOINTS */
  --breakpoint-*: initial;
  --breakpoint-tablet: 32rem;
  --breakpoint-laptop: 48rem;
  --breakpoint-desktop: 64rem;
}
