
{{/*  "overline"
"title"
"description"
"buttonText"
"buttonLink"  */}}


<section class="flex justify-center bg-gray-400">
    <div class="flex flex-col items-center gap-2 p-24 text-center">
        <div class="flex p-1 px-4 bg-gray-200 rounded-full ">
            <p class="font-sans "> {{ .overline }} </p>
        </div>

        <h2 class="text-5xl">{{ .headline }}</h2>
        <p class="text-lg">Handle millions of calls with the memory, empathy,<br > and zero wait time your customers expect.
        </p>
        <button type="button" class="px-5 py-2 mt-8 text-white bg-black rounded-full">Talk to us</button>
    </div>
</section>







